DesafioSouthSystem.App/bin
DesafioSouthSystem.App/obj
DesafioSouthSystem.Domain/bin
DesafioSouthSystem.Domain/obj
DesafioSouthSystem.Shared/bin
DesafioSouthSystem.Shared/obj
DesafioSouthSystem.Tests/bin
DesafioSouthSystem.Tests/obj
DesafioSouthSystem.WebAPI/bin
DesafioSouthSystem.WebAPI/obj